aiohttp==3.8.0
aiosignal==1.2.0
altgraph==0.17.2
async-timeout==4.0.0
atomicwrites==1.4.0
attrs==21.2.0
axie-utils==1.0.3
base58==2.1.1
bitarray==1.2.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
colorama==0.4.4
cryptography==36.0.0
cytoolz==0.11.2
discord.py==1.7.3
docopt==0.6.2
docutils==0.18
eth-abi==2.1.1
eth-account==0.5.6
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
flake8==4.0.1
freezegun==1.1.0
frozenlist==1.2.0
future==0.18.2
hexbytes==0.2.2
idna==3.3
iniconfig==1.1.1
ipfshttpclient==0.8.0a2
jsonschema==3.2.0
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
lru-dict==1.1.7
mccabe==0.6.1
mock==4.0.3
multiaddr==0.0.9
multidict==5.2.0
netaddr==0.8.0
packaging==21.2
parsimonious==0.8.1
pefile==2021.9.3
Pillow==8.4.0
pluggy==1.0.0
protobuf==3.19.1
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.11.0
pyflakes==2.4.0
Pygments==2.10.0
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
pyparsing==2.4.7
pypiwin32==223
pyrsistent==0.18.0
pytest==6.2.5
pytest-asyncio==0.16.0
pytest-mock==3.6.1
python-dateutil==2.8.2
pywin32==302
pywin32-ctypes==0.2.0
qrcode==7.3.1
requests==2.26.0
requests-mock==1.9.3
rlp==2.0.1
six==1.16.0
tinyaes==1.0.2
toml==0.10.2
toolz==0.11.2
typing-extensions==3.10.0.2
urllib3==1.26.7
varint==1.0.2
web3==5.24.0
websockets==9.1
yarl==1.7.2
